/* Position and sizing of burger button */
.bm-burger-button {
	@apply lg:hidden;
	position: fixed;
	width: 28px;
	height: 20px;
	right: 32px;
	top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #f97316;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #ed5d0e;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 32px;
	width: 32px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	@apply bg-slate-900;
	position: fixed !important;
	top: -25px;
	right: -13px !important;
	height: 100vh !important;
}

/* General sidebar styles */
.bm-menu {
	/* background: #373a47; */
	@apply bg-slate-900;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	/* fill: #373a47; */
	@apply fill-slate-900;
}

/* Wrapper for item list */
.bm-item-list {
	display: flex;
	@apply bg-slate-900;

	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	color: #b8b7ad;
	padding: 0.8em;
	z-index: 99;
}

/* Individual item */
.bm-item {
	@apply mx-auto text-white;
	display: inline-block;
	width: fit-content;
}

.menu-chunk {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	@apply mb-24;
}

/* Styling of overlay */
.bm-overlay {
	@apply fixed -top-7 -left-4 bg-slate-900/30;
	height: 100vh !important;
	width: 100vw !important;
	background: #0f172a4b;
}
