@tailwind base;

html {
	scroll-behavior: smooth;
	@apply bg-black;
}

h4 {
	@apply font-semibold text-3xl;
}

h5 {
	@apply font-semibold text-2xl py-3;
}

p {
	@apply text-lg;
}

.highlight {
	@apply text-orange-300 font-semibold;
}

.undrag {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@tailwind components;

.btn-normal {
	@apply hover:bg-gray-900/75 hover:text-orange-300 px-5 py-3 rounded-xl transition duration-200 ease-in-out active:scale-95;
}

.btn-filled {
	@apply text-purple-50 bg-purple-600 hover:bg-purple-500 hover:text-purple-100 transition ease-in-out duration-300 active:scale-95 py-3 px-5;
}

.btn-colored {
	@apply text-purple-300 hover:shadow-md hover:border-b-2 hover:border-purple-400 border-b-2 border-transparent transition ease-in-out duration-300 active:scale-95 py-3 tracking-wide;
}

.link {
	@apply text-orange-300 font-semibold;
}

@tailwind utilities;

@font-face {
	font-family: 'Cyberway';
	src: url('../public/cyberway.ttf');
}
